h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font: bold;
}

.quti {
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bold;
    width: 100%;
    height: 50px;
    background-color: yellow;
}

marquee {
    padding: 10px;
}

.quti2 {
    width: 80%;
    border: 2px solid blue;
}